@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/static/Raleway-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'NotoColorEmoji';
    src: url('../fonts/NotoColorEmoji/NotoColorEmoji-Regular.ttf') format('truetype');
}
html, body {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-app-region: drag;
}
body {
    min-height: 100vh;   
    background-color: #ffffff;
}
div.header {
    background-color: #000000;
    color: whitesmoke;
    min-height: 33vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.content#container {
    min-height: 34vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1.title {
    font-size: clamp(18pt, 10vw, 96pt);
    font-weight: bold;
    margin: 1vh 0 1vh 0;
}
h2 {
    font-size: x-large;
    font-weight: bold;
}
h3 {
    font-size: large;
    font-weight: bold;
}
div#descText {
    color: #8c8c8c;
    font-style: italic;
    word-break: break-word;
    word-wrap: break-word;
    font-size: clamp(12pt, 5vw, 18pt);
}
section.section {
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.container {
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(14pt, 5vw, 48pt);
}
input.datepicker {
    text-align: right;
}
input.datepicker[type=date]::-webkit-clear-button {
    display: none;
}
tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 1vh;
}
td.datepicker {
    text-align: right;
    display: flex;
}
td.label {
    text-align: left;
    font-size: clamp(12pt, 5vw, 18pt);
    display: flex;
}
td.submit {
    min-width: 100%
}
input#submit {
    height: 10vh;
    width: 100%;
    color: #000000;
    background-color: #fcb900;
    border: dotted 0.66vw #8c8c8c;
    border-radius: 10px;
    font-family: 'Raleway';
    font-size: clamp(12pt, 5vw, 18pt);
    font-weight: bolder;
    font-style: italic;
}
div#dropzone {
    border: dotted 0.66vw #8c8c8c;
    border-radius: 10px;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 25vh;
    min-width: 25vw;
    color: #8c8c8c;
    -webkit-app-region: no-drag;
}
div#dropzone section.section {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer {
    background-color: #fcb900;
    font-weight: bold;
}
footer.footer {
    min-height: 33vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer div {
    height: 100%;    
    align-items: center;
    justify-content: center;
    font-size:clamp(8pt, 2vw, 24pt);
}
footer div div.footer {
    font-weight: lighter;
    font-style: normal;
    text-align: center;
    color: black;
}
footer div div.list {
    font-weight: lighter;
    font-style: italic;
    text-align: center;
}
span.icon {
    font-family: NotoColorEmoji;
    font-style: normal;
}
section#beforeDrop {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-app-region: no-drag;
}
section#afterDrop {
    display: none;
    -webkit-app-region: no-drag;
}
form#stripParams{
    display: none;    
}
.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
     
    display: none;
    justify-content: center;
    align-content: center;
}
.modal-content {
    width: 60vw;
    height: 40vh;
    background-color: #ffffff;
    border-radius: 5px; 
    text-align: center;
    display: flex;    
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    padding: 3vh 3vw 3vh 3vw;
}
form#openSaveLocationText input.submit {
    width: 25%;
    padding-left: 1vw;
    padding-right: 1vw;
}
div.modal-text{
    width: 75%;
    display: block;
    margin: auto;
    word-break: break-word;
}
div#path{
    font-style: italic;
}
form#openSaveLocation {
    -webkit-app-region: no-drag;
}