###################

###################
# ignore dist dir
dist/

# ignore release dir
release/

# ignore obj dir
obj/

# ignore node modules dir
node_modules/

# ignore bin dir
bin/

# build release dir
build/Release

# package lock
package-lock.json

# log files
*.log
log/

# VSCode files
.vs/
*.nsproj.user